<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>8:30-9:00</td>        <!-- time    -->
        <td>Introductions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:00-10:15</td>        <!-- time    -->
        <td>Introduction to Spreadsheets</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:15-10:30</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:30-12:30</td>        <!-- time    -->
        <td>Best Practices for Scientific Computing</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30-9:00</td>        <!-- time    -->
        <td>Getting Started with Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00-10:15</td>        <!-- time    -->
        <td>Python Content</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:15-10:30</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:30-12:30</td>        <!-- time    -->
        <td>Python Content</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30-9:00</td>        <!-- time    -->
        <td>Day 1 Recap</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00-10:15</td>        <!-- time    -->
        <td>Python Content</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:15-10:30</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:30-12:30</td>        <!-- time    -->
        <td>Python Content</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
